<h2><%= article.title %></h2>

<small class="text-muted"><%= l(article.created_at, format: '%-d %B %Y %H:%M:%S') %></small>

<p><%= article.body %></p>

<p><%= link_to t('forms.buttons.edit'), edit_article_path(article), class: 'btn btn-default' %></p>
<hr/>
